@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body, html {
    height: 100vh;
    margin: 0;
    background-color: #9bf6ff;
    width: 100%;
  }

.App {
    text-align: center;
}

.todoListWrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.itemsWrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 30vw;
    align-items: stretch;
    justify-content: center
}

.liButtonWrapper {
    display: flex;
    width: 500px;
    margin-left: 350px;
}

.formWrapper {
    margin-top: -50px;
}

li {
    list-style-type: none;
    font-size: 18px;
    padding: 12px;
    border-radius: 30px;
    background-color: #ffffff;
    text-align: left;
    width: 500px;
    margin: 15px;
    font-family: 'Playfair Display', serif;
}

input {
    padding: 10px;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
}

input:focus {
    outline: none; 
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: #ffc6ff;
    border: 1px solid white;
    color: white;
}

button:focus {
    outline: none; 
}

button:hover {
    cursor: pointer;
    background-color: #bdb2ff;
}

.doneButton {
    margin-top: 16px;
    height: 8vh;
}

form {
    margin-left: 28px;
}

h1 {
    margin-left: 10px;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 80px;
}
